html, body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}
.custom md-input-container {
  margin: 0 0;
}
.custom md-input-container .normal-color {
  color: rgba(0,0,0,0.9)
}

.custom .my-grid {
  height: 100%;
}


.custom .group-divider {
  border-top: 1px solid;
  border-color: #d4d4d4;
}
.custom .group-header {
  color: red;
}
.custom .group-content {
  color: rgba(0,0,0,0);
}
.custom .group-last {
  border-bottom: 1px solid;
  border-color: #d4d4d4;
}

.custom .my-grid-header-table {
  display: table;
  box-sizing: border-box;
  height: 100%;
}
.custom .my-grid-header-caption {
  caption-side: top;
  display: table-caption;
  text-align: center;
  border-bottom: 1px solid #aeaeae;
  border-right: 1px solid #aeaeae;
  white-space: nowrap ;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.custom .my-grid-header-row {
  display: table-row;
}
.custom .my-grid-header-cell {
  box-sizing: border-box;
  background-color: inherit;
  display: table-cell;
}
.custom .ui-grid-pinned-container-right .my-grid-header-cell:first-child .my-grid-header-caption {
  border-left:1px solid #aeaeae;
}
.custom .ui-grid-pinned-container-left .my-grid-header-cell:last-child .my-grid-header-caption {
  border-right: 2px solid #aeaeae;
}

.ui-grid-draggable-row-target {
  opacity: 0.5 !important;
}
.ui-grid-draggable-row {
  height: 30px;
}
.ui-grid-draggable-row-over {
  position: relative;
}
.ui-grid-draggable-row-over:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 1px dotted #AAA;
}
.ui-grid-draggable-row-over--above:before {
  top: 0;
}
.ui-grid-draggable-row-over--below:before {
  bottom: 0;
}