html, body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}
.custom md-input-container {
  margin: 0 0;
}
.custom md-input-container .normal-color {
  color: rgba(0,0,0,0.9)
}

.custom .my-grid {
  height: 100%;
}


.custom .group-divider {
  border-top: 1px solid;
  border-color: #d4d4d4;
}
.custom .group-header {
  color: red;
}
.custom .group-content {
  color: rgba(0,0,0,0);
}
.custom .group-last {
  border-bottom: 1px solid;
  border-color: #d4d4d4;
}

.custom .my-grid-header-caption {
  border:1px solid grey;
  caption-side: top;
  display: table-caption;
  text-align: center;
}

.custom .my-grid-header-cell {
  position: relative;
  box-sizing: border-box;
  background-color: inherit;
  display: table-cell;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0;
}
.custom .my-grid-header-table {
  position: relative;
  display: table;
  box-sizing: border-box;
  height: 100%;
}

.custom .my-grid-header-row {
  display: table-row;
  position: relative;
}
